<!DOCTYPE html>
<html lang="en">

<!--自适应屏幕大小-->
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="description" content="使用官方ChatGPT API实现简单HTML网页版在线聊天（支持markdown语法及查看对话记录）"/>
<head>
    <meta charset="UTF-8">
    <title>OpenAI</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div align="center">
    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
            </div>
            <div class="title">ChatGPT API</div>
        </div>
        <div id="loading" style="display:none; color:red"><b>后端正在处理，请稍等，切勿重复提交<br>若3分钟内无响应则说明请求超时，可刷新网页重新提交</b></div>
        <ul class="messages">
            <div style="text-align: left; color: green">
                <pre style="white-space: pre-wrap; word-wrap:break-word" id="chatlog"></pre>
            </div>
        </ul>
        <div class="bottom_wrapper clearfix">
            <textarea class="message_input_wrapper" placeholder="点击这里输入问题" id="chatinput"></textarea>
            <button class="send_message" id="sendbutton">提交</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    // 加入回车提交支持，shift+回车换行
    var input = document.getElementById("chatinput");
    input.addEventListener("keydown", function (event) {
        if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault();
            document.getElementById("sendbutton").click();
        }
    });

    // Add your JavaScript here
    document.getElementById("sendbutton").addEventListener("click", function () {
        let loading = document.getElementById('loading');
        loading.style.display = 'block';
        // Get the user's message from the input field
        var message = document.getElementById("chatinput").value;
        if (message.length < 1) {
            var response = document.createElement("div");
            response.innerHTML = "🤔<br>🤖<br>Message cannot be null\n问题不能为空";
            chatlog.appendChild(response);
            // Scroll the chatlog to the bottom
            chatlog.scrollTop = chatlog.scrollHeight;
            loading.style.display = 'none';
        } else {
            // Clear the input field
            document.getElementById("chatinput").value = "";
            // Send the message to the chatbot
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/chat/get?msg=" + message);
            xhr.send();
            xhr.onload = function () {
                // Append the chatbot's response to the chatlog
                var chatlog = document.getElementById("chatlog");
                var response = document.createElement("div");
                response.innerHTML = "🤔<br>" + message + "<br>🤖" + marked.parse(xhr.responseText);
                chatlog.appendChild(response);
                // Scroll the chatlog to the bottom
                chatlog.scrollTop = chatlog.scrollHeight;
                loading.style.display = 'none';
            }
        }
    });
</script>
</body>
</html>
